body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

header{
    background-color: #282828;
    margin: 0;
    color: whitesmoke;
}

.logo{
    font-size: 18px;
    font-weight: 700;
}

ul{
    list-style: none;
    display: flex;
    padding: 25px;
    margin: 0;
    align-items: center;
    gap: 10px;

}

li{
    cursor: pointer;
}

.align-right{
    margin: 0 0 0 auto;
}

.icon{
    width: 25px;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.img-banner{
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.item{
    position: relative;
}

.item-img{
    width: 100%;
    display: block;

}

.caption{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button{
    border: none;
    color: whitesmoke;
    background-color: #cd6858;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
    align-self: center;
}

.chatbox-bg{
    position: fixed;
    right: 6px;
    bottom: 6px;
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5pc #999;
    display: flex;

}

.chatbox-img{
    width: 50%;
    margin: auto;
    
}